.active{
            height: 50px;
            width: 100px;
            margin: 10px;
            background-color: greenyellow;
        }
.mute{
            height: 50px;
            width: 100px;
            margin: 10px;
            background-color: dimgray;
#rowA #rowB #rowC #rowD {
        background-color: aqua;
    }
img {
        width: 20px;
        height: auto;
    }
.row{
    width: 100px;        
    }