.tabJeu{
    @include grid-column(1 of 3);
}
.active{
            height: 50px;
            width: 100px;
            margin: 10px;
            background-color: greenyellow;
            color: black;
        }
.mute{
            height: 50px;
            width: 100px;
            margin: 10px;
            background-color: dimgray;
            color: yellow;
img {
        width: 20px;
        height: auto;
    }